@import "tailwindcss";



@custom-variant dark (&:where(.dark,.dark *));
:root{
    box-sizing: border-box;
}

@theme inline{
    --color-dark: #0a0a0a;
    --color-semidark: #171717;
    --color-light: #fafafa;      
    --color-semilight: #fafafa;
}

.animate-flip{
    animation: flippy 3.5s ease-in-out;
    animation-delay:100ms;
}
@keyframes flippy{
    0%{
        transform: rotateX(0deg);
    }
    25%{
        transform: rotateX(10deg);
        opacity: .8;
    }
    50%{
        transform: rotateX(-0.3turn);
        background-color: rgb(166, 166, 166);
        color:transparent;
    }
    75%{
        transform: rotateX(10deg);
        color:transparent
    }
    100%{
        transform: rotateX(0deg);
    }
}
.appear-top{
    animation: show-up 1s linear;
}
@keyframes show-up{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    25%{
        transform: translateY(-25px);
        opacity: .2;
    }
    50%{
        transform: translateY(-20px);
        opacity: .5;
    }
    75%{
        transform: translateY(-10px);
        opacity: .7;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}